.check
  .boards-container
    %h2.boards-title All Boards
    - @articles.each do |article|
      .board-card
        %p.board-title= article.title
        %br
        %p.board-sbtitle= article.content
        %br
        .image-tag
          = image_tag 'hawaii.png', class: 'user_avatar'


