.boards-container
  %h2.boards-title All Boards
  .board-card
    %p.board-title Brackets
    = image_tag'Combined Shape.svg', class: 'board-img'
    %P.board-sbtitle Saving money – is something we would all like.
    = image_tag'hawaii.png', class: 'user_avatar'
  .board-add
    %P.add-text + Add new borad