@charset "utf-8";
@import './variables';



/* All Boards  画面*/

.boards {
  &-container {
    margin: 0 15px;
  }

  &-title {
    font-size: 26px;
    padding-top: 70px;
    padding-left: 12px;
    margin-bottom: 17px;
    z-index: 99;

    &-show {
      font-size: 26px;
      padding-top: 70px;
      padding-left: 12px;
      margin-bottom: 17px;
      width: 300px;
    }

    &-full {
      display: none;
      position: absolute;
      font-size: 12px;
      margin: -20px 0 0 0;
      padding: 0 5px;
      background-color: #fff;
      width: auto;
      height: 20px;
      border-radius: 4px;
      box-shadow: 0px 2px 8px rgba(7, 7, 7, 0.25);
      opacity: 0.7;
    }
  }
}

.image-tag {
  line-height: 0;
}

.board {

  &-card {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #F4F4F4;
    margin: 0 10px 20px 10px;
    box-shadow: 0px 2px 8px rgba(7, 7, 7, 0.25);
  }

  &-name {
    display: inline-block;
    position: relative;
    top: 23px;
    padding-left: 68px;
    font-size: 12px;
    color: $text-base-color;
    margin: 0;

    &-show {
      display: inline-block;
      position: relative;
      left: 20px;
      font-size: 15px;
      color: #969696;
      padding: 15px 0 14px 0;
      margin: 0;
    }
  }

  &-time {
    display: inline-block;
    position: relative;
    top: 12px;
    padding-left: 68px;
    font-size: 10px;
    color: $text-base-color;
    margin: 0;

    &-show {
      display: inline-block;
      position: relative;
      left: 20px;
      font-size: 12px;
      color: #969696;
      bottom: 20px;
      margin: 0;
    }
  }

  &-title {
    display: inline-block;
    color: $text-base-color;
    font-family: Avenir;
    font-weight: 550;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    padding: 18px 0 14px 20px;
    margin: 0;
    word-wrap: break-all;
    word-break: break-all;
    overflow-wrap: break-word;
    width: 250px;
  }

  &-sbtitle {
    display: inline-block;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    word-wrap: break-all;
    padding: 0 17px 0 20px;
    margin: 0;
    white-space: pre-wrap; 
  }

  &-img {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 290px;

    &:hover {
      opacity: 0.6;
    }

    &-show {
      position: relative;
      top: 75px;
      left: 305px;

      &:hover {
        opacity: 0.6;
      }
    }
  }


/*  Add  new  board  部分  */

  &-add {
    position: fixed;
    width: 163px;
    height: 55px;
    bottom: 16px;
    left: 108px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px dashed #969696;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(7, 7, 7, 0.25);
    z-index: 9999;
    opacity: 0.9;
  }
}


.add {
  &-text {
    display: inline-block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2px;
    padding-left: 18px;
  }

  &-btn {
    text-decoration: none;
    color: $text-base-color;

    &:hover {
      opacity: 0.5;
    }
  }
}

.comment {
  &-text {
    display: inline-block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2px;
    padding-left: 20px;
  }

  &-btn {
    text-decoration: none;
    color: $text-base-color;

    &:hover {
      opacity: 0.5;
    }
  }
}


/* ユーザーの画像*/

.user_avatar {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 21px;
  bottom: 20px;
}



