@charset "utf-8";
@import './variables';


/* All Boards　画面*/

.boards {
  &-container {
    margin: 0 15px;
  }

  &-title {
    font-size: 26px;
    padding-top: 65px;
    padding-left: 6px;
  }
}


.board {

  &-card {
    display: block;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #F4F4F4;
  }

  &-title {
    display: inline-block;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 12px;
    margin: 0;
    word-wrap: break-all;
    width: 250px;
  }

  &-sbtitle {
    display: inline-block;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    word-wrap: break-all;
    padding: 5px 17px 10px 20px;
    margin: 0;
  }

  &-img {
    float: right;
    position: absolute;
    top: 23px;
    left: 280px;
  }


/*  Add  new  board  部分  */

  &-add {
    width: 100%;
    height: 150px;
    position: relative;
    flex-shrink: 0;
    border-radius: 10px;
    margin:30px 0 0 0;
    border: 1px dashed #969696;
    background-color: #fff;
  }
}

.add {

  &-text {
    display: inline-block;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 45px;
    padding-left: 90px;
  }

  &-btn {
    text-decoration: none;
    color: $text-base-color;

    &:hover {
      opacity: 0.5;
    }
  }
}

/* ユーザーの画像*/

.user_avatar {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 21px;
  margin-bottom: 10px;
}

/* ドロップダウンボタン*/

.dropdown {
  position: absolute;
  z-index: 99;
  
  &-content {
    display: none;
    width: 60px;
    height: 60px;
    margin: 35px 0 0 260px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  &-content ul {
    list-style:none;
    margin: 0;
    padding: 0;
  }

  &-text1 {
    display: inline-block;
    margin-top: 7px;
    margin-left: 17px;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1px;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }

  &-text2 {
    display: block;
    margin-top: 3px;
    margin-left: 8px;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }
}


