@charset "utf-8";
@import './variables';


/* All Boards  画面*/

.boards {
  &-container {
    margin: 0 15px;
  }

  &-title {
    font-size: 26px;
    padding-top: 80px;
    padding-left: 6px;
  }
}


.board {

  &-card {
    display: block;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #F4F4F4;
    margin-bottom: 20px;
  }

  &-title {
    display: inline-block;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 18px;
    margin: 0;
    word-wrap: break-all;
    width: 250px;
  }

  &-sbtitle {
    display: inline-block;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    word-wrap: break-all;
    padding: 5px 17px 10px 20px;
    margin: 0;
  }

  &-img {
    float: right;
    position: absolute;
    top: 27px;
    left: 280px;

    &:hover {
      opacity: 0.6;
    }
  }


/*  Add  new  board  部分  */

  &-add {
    position: fixed;
    width: 163px;
    height: 55px;
    bottom: 16px;
    right: 15px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px dashed #969696;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(7, 7, 7, 0.25);
    z-index: 9999;
    opacity: 0.8;
  }
}


.add {

  &-text {
    display: inline-block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2px;
    padding-left: 18px;
  }

  &-btn {
    text-decoration: none;
    color: $text-base-color;

    &:hover {
      opacity: 0.5;
    }
  }
}

/* ユーザーの画像*/

.user_avatar {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 21px;
  margin-bottom: 10px;
}

