@charset "utf-8";
@import 'variables';

/* ドロップダウンボタン*/

.dropdown {
  position: absolute;
  z-index: 999;
  
  &-content {
    display: none;
    width: 60px;
    height: 60px;
    margin: 39px 0 0 260px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  &-content ul {
    list-style:none;
    margin: 0;
    padding: 0;
  }

  &-text1 {
    display: inline-block;
    margin-top: 7px;
    margin-left: 17px;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1px;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }

  &-text2 {
    display: block;
    margin-top: 3px;
    margin-left: 8px;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }
}


.dropdown:hover .dropdown-content {
  display: block;
}



.dropdown {
  
  &-btn {
    position: absolute;
    z-index: 999;
  }
  
  &-wrapper {
    display: none;
    width: 70px;
    height: 70px;
    margin: 8px 0 0 260px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  &-wrapper ul {
    list-style:none;
    margin: 0;
    padding: 0;
  }

  &-profile {
    display: inline-block;
    margin-top: 9px;
    margin-left: 15px;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1px;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }

  &-logout {
    display: block;
    margin-top: 7px;
    margin-left: 12px;
    color: $text-base-color;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }
}


.dropdown-btn:hover .dropdown-wrapper {
  display: block;
}