@charset "utf-8";
@import 'variables';

.content-form {
  width: 313px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F4F4F4;
  border: none;
  padding-left: 10px;
  margin: 1px 0 30px 5px;
}
