@charset "utf-8";
@import 'variables';

.new-container {
  margin: 0 10px;
}

.content-form {
  width: 298px;
  height: 168px;
  font-size: 15px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F4F4F4;
  border: none;
  padding: 10px;
  margin: 1px 0 0 11px;
}
