@charset "utf-8";
@import 'variables';

.notice {
  position: absolute;
  font-size: 13px;
  color: rgb(112, 111, 111);
  top: 60px;
  left: 15px;
}

.error-message {
  position: absolute;
  color: #e81c1cdd;
  float: left;
  font-size: 13px;
  top: 70px;
}

.alert {
  position: absolute;
  font-size: 13px;
  color: #e81c1cdd;
  top: 60px;
  left: 15px;
}
