@charset "utf-8";
@import 'variables';

.notice {
  font-size: 13px;
  color: rgb(112, 111, 111);
  float: left;
  margin-top: 45px;
}

.error-message {
  font-size: 13px;
  color: rgb(188, 6, 6);
  float: left;
  margin-top: 45px;
}
