@import './variables';

.container {
  margin: 0 15px;
}

.profilePage {
  margin-top: 120px;

  &_user {
    display: block;

    &_image {
      display: block;
      text-align: center;

      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }
    }

    &_basicInfo {
      margin-left: 16px;
    }

    &_actionButton {
      position: absolute;
      top: 75px;
      right: 18px;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      border-style: dotted;
      font-size: 15px;
      font-weight: bold;
      padding: 3px 8px;

      a {
        color: $text-base-color;
        text-decoration: none;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    &_name {
      display: block;
      position: relative;
      margin-bottom: 11px;
      margin-top: 18px;
      text-align: center;
    }

    &_displayName {
      display: block;
      font-size: 27px;
      font-weight: bold;
    }

    &_gender {
      float: left;
      position: relative;
      font-size: 18px;
      padding-left: 80px;
      color: #767575;
    }

    &_birthday {
      float: right;
      position: relative;
      font-size: 17px;
      padding-right: 80px;
      color: #767575;
    }

    &_introduction {
      font-size: 20px;
      text-align: center;
      margin: 60px  0 30px 0;
    }
  }
}

